$main-font: var(--font-sharp-groteskM20);
$secondary-font: var(--font-sharp-groteskB20);
$rubik-font: var(--font-rubik);
$text-color: #fff;
$accent-color: #2efaee;
$dark-green-color: #07252a;
$light-gray-color: #eee;
$dark-gray-color: #07252A;
$black-color: #000000;