.secureBlockContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
  margin: 0 auto 200px auto;
  max-width: 880px;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  @media(width <=750px)
  {
    gap: 32px;
    margin-bottom: 128px;
    h2{
      font-size: 32px;
      line-height: 120%;
    }
    svg{
      width: 296px;
    }
  }
}