@import '/src/styles/variables.scss';

.advantagesCardContainer {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid $accent-color;
  border-radius: 32px;
  align-items: center;
  background-color: $black-color;
  height: 500px;
  text-align: center;


  h4 {
    font-size: 32px;
    line-height: 100%;
  }

  span {
    font-size: 20px;
    line-height: 140%;
    font-weight: 300;
  }

  @media(width <=750px) {
    padding: 32px;
    height: 442px;
    h4 {
      font-size: 24px;
    }
    span {
      font-size: 16px;
    }
  }
}