@import 'src/styles/variables.scss';

.headerContainer {
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  @media(width <=750px) {
    & > a:nth-child(2) {
      display: none;
    }
  }
}

.logoContainer {
  display: flex;
  gap: 20px;
  align-items: center;

  span {
    font-weight: 300;
    color: $accent-color;
    font-size: 16px;
    letter-spacing: 0.93em;
  }
}