.swiperCustom {
  display: flex;
  //transition-timing-function: linear !important; // Обеспечиваем плавность
  -webkit-transition-timing-function:linear!important;
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important;
}

.swiperSlide{
  width: 223px;
}