@import '/src/styles/variables';

.footerContainer {
  border-radius: 40px;
  padding: 40px;
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  color: $light-gray-color;
  font-family: $secondary-font;
  margin: 0 40px 0 40px;
  z-index: 2;
  overflow-x: clip;
}

.footerSummary {
  display: flex;
  flex-direction: row;
  gap: 117px;
}

.linksContainer {
  display: flex;
  gap: 30px;
  width: 100%;
}

.socialLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 380px;
}

.footerDescription {
  color: $light-gray-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
}

.imgContainer {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%);
  z-index: 3;
}

.blurContainer {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  z-index: 2;
}

.legalContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.legalLinksContainer {
  display: flex;
  gap: 32px;
  justify-content: end;
}