@import '/src/styles/variables.scss';

.integrateContainer {
  h3 {
    font-size: 32px;
    text-align: center;
    margin: 0 auto 85px auto;
    font-family: $secondary-font;
  }

  margin-bottom: 180px;
  position: relative;
  overflow-x: clip;
  @media(width <=750px) {
    h3 {
      margin-bottom: 32px;

    }
    margin-bottom: 96px;
  }

}